$color-principal: rgb(255, 190, 68);
$gris-claro: rgb(195, 195, 195);

.cart{
    .cart__games{
        display: grid;
            
        grid-template-columns: repeat(auto-fill,minmax(18rem, 1fr));
    
        gap: 0.5rem;
    
        padding: 20px 0;
        .game-cart{
            display: flex;
        
            justify-content: center;
            align-items: center;
    
            flex-direction: column;
    
            gap: 5px;

            padding:  30px 10px;

            border-radius: 20px;

            transition: all 0.2s;
            &:hover{
                background-color: rgb(225, 225, 225);
            }
            .game__img{
                img{
                    width: 170px;
                    height: auto;
    
                    border-radius: 10px;
                }
            }
            .game__info{
                display: flex;
                flex-direction: column;
    
                gap: 5px;
            }
            .game__button-remove{
                background-color: $color-principal;
    
                padding: 5px 10px;
    
                border-radius: 20px;
                &:active{
                    background-color: black;
                    color: aliceblue;
                }
            }
        }
    }
    .game__button-remove-all{
        display: flex;

        justify-content: center;
        align-items: center;
        button{

            padding: 5px 10px;

            background-color: $color-principal;

            border-radius: 20px;

            transition: all 50ms;

            &:active{
                background-color: black;
                color: white;
            }
        }
    }
    .total{
        display: flex;

        justify-content: center;
        align-items: center;

        padding: 20px 0;
    }
    .form{
        background-color: $color-principal;

        display: grid;
        grid-template-rows: auto(5,1fr);

        justify-content: center;
        align-items: center;

        gap: 6px;

        padding: 20px 0;
        div{
            display: flex;
            justify-content: end;
            align-items: center;

            gap: 2px;
            input{
                width: 200px;

                border-radius: 10px;

                padding: 4px;

                transition: all 0.2s;
                &:focus{
                    background-color: $gris-claro;
                }
            }
            button{
                padding: 5px;

                border-radius: 10px;

                transition: all 0.2s;
                &:active{
                    background-color: black;
                    color: white;
                }
            }
            
        }
        .id-compra{
            padding: 20px;
        }
    }
}