$color-principal: rgb(255, 179, 37);

html{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #000000;
}
body{
    margin: 0;
}
p{
    margin: 0;
}
header{
    position: sticky;
    background-color: $color-principal;
    .header-div{
        margin: 0 4vh;
        .NavBar{
            width: 100%;
            height: 100px;
        
            display: grid;
            grid-template-columns: auto 1fr 100px ;
    
            justify-content: center;
            align-items: center;
        
            flex-direction: row;
            .Icon{
                display: flex;
                justify-self: end;
    
                img{
                    width: 50px;
                    height: auto;
        
                    border-radius: 50%;
                }
            }
            .BarraBusqueda{
    
                display: flex;
                justify-self: center;
    
                input{
                    width: max(200px , 50vh);
                    height: 20px;
        
                    border: 0;
        
                    border-radius: 5px;
                    transition: all 0.4s;
                    &:focus{
                        background-color: rgb(255, 255, 197);
                    }
                }
            }
            .CartWidget{
                
                display: flex;
                justify-content: center;
                align-items: center;
        
                gap: 10px;
                img{
                    width: 30px;
                    height: auto;
        
                    transition: all 0.2s;
                    &:hover{
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
}
